<h1>MemeFlix</h1>
<p>Your way to a daily dose of memes and laughter</p>

<p>To get you started we have one of our finest collections preppared, just for yoou</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/kfVsfOSbJY0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<p>For people with good tasting we also have these equisite delicasies</p>

<div *ngIf=“memes” *ngFor=“let meme of memes”>
  {{
  <iframe width="560" height="315" ng-src="{{meme.url}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen />
  }}
</div> />
